.scores {
  .border {
    height: 3px;
    width: 100%;
    background-color: var(--clr-primary);
    margin-bottom: 2rem;
  }

  h3 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .messageContainer {
    min-height: 100px;
    width: 100%;
    display: grid;
    place-items: center;
  }

  .scores {
    display: flex;
    flex-direction: column-reverse;

    p {
      text-align: center;
    }
  }
}
