.div {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;

  .timer {
    width: 80px;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    margin-left: 1rem;
  }
}
