.form {
  display: flex;
  flex-direction: column;

  label {
    font-size: 14px;
    margin-bottom: 0.5rem;
  }

  input {
    color: var(--clr-primary);
    background-color: var(--clr-bg);
    outline: none;
    border: 2px solid var(--clr-primary);
    padding: 0.5rem;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .errContainer {
    min-height: 20px;
    color: var(--clr-danger);
    margin-bottom: 0.5rem;
  }

  .actions {
    display: flex;
    gap: 1rem;
    align-items: center;

    button {
      border: none;
      outline: none;
      background-color: var(--clr-green-yellow);
      color: var(--clr-bg);
      padding: 0.5rem 1rem;
      cursor: pointer;
      font-family: "Courier Prime", monospace;
      font-size: 16px;
      font-weight: 800;

      &:disabled {
        background-color: lightgrey;
        color: grey;
        cursor: not-allowed;
      }
    }

    div {
      padding: 0.5rem 1rem;
      background-color: var(--clr-primary);
      color: var(--clr-bg);
      font-size: 16px;
      font-weight: 800;
      cursor: pointer;
    }

    h3 {
      margin: 0 auto;
    }
  }
}
